<header>
    <nav class="navbar navbar-expand-lg bg-dark-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'order-list' %}">Order History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-order' %}">New Order</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
                </li>
                  {% if user.is_staff %}
                    <li class="nav-item">
                      <a class="nav-link" href="/admin">Admin</a>
                    </li>
                  {% endif %}
              </ul>

            {% if user.is_authenticated %}
                <img src="...">

                <a href="{% url 'profile' pk=request.user.id %}"><span>{{ user.username }}</span></a>
                <form method="post" action="{% url 'logout' %}">{% csrf_token %} <button type="submit" > -> </button></form>
            {% else %}
                <button><a href="{% url 'login' %}">login</a></button>
                <button><a href="{% url 'register' %}">sign up</a></button>
            {% endif %}

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button  type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>