{% extends "base.html" %}

{% block content %}
    {% if not request.user.is_superuser %}
        <h3>{{ request.user.username }}'s orders:</h3>
        {% for order in current_customer_order_history %}
            <p>{{ order }}- (undiscounted price for one: {{ order.product.price }})  </p>
        {% endfor %}
    {% else %}
            {% for order in desired_customer_order_history %}
                <p>{{ order }}- (undiscounted price for one: {{ order.product.price }}) </p>
            {% endfor %}
            
            {% for customer in customers_list %}
                <a href="{% url 'order-list' %}?customer={{ customer.user.username }}" >{{ customer.user.username }}</a>
            {% endfor %}
    {% endif %}
    
{% endblock %}